In [1]:
import pandas as pd
import ast
import nltk

# Load Data

In [2]:
def row_str_to_list(row):
    row['outreview'] = ' '.join(ast.literal_eval(row['outreview']))
    row['outtitle'] = ' '.join(ast.literal_eval(row['outtitle']))
    return row

In [3]:
data=pd.read_csv('data/multi/train.csv')
data = data.apply(row_str_to_list, axis=1)

In [4]:
data

,outtitle,outreview,label
0,wonderful dress,love dress think cut fabric embroidery flatter...,2
1,no brainer,dress truly no brainer purchase stunning dress...,2
2,nice tank,like look tank ran bit larger expected neck bu...,2
3,love,perfect end summer going fall soft pairs great...,2
4,vintage vibe builtin support,good dress hourglass figures runs bit narrow r...,2
5,cute comfy,really love soft nice quality complaint straps...,2
6,disappointed retailers descriptions lately,one proved no different short end dress pretty...,0
7,beautiful dress,beautiful dress delicately well made 51 95lb x...,2
8,swinging dress,thought dress store true size bit more swingin...,2
9,gorgeous dress,worse dress rehersal dinner received many comp...,2
10,surprise winner,tried store size but thought felt tight but pe...,2
11,love top,picture wasnt sure would fit got mail love fit...,2
12,curvy girls beware,dress beautiful color fabric super soft lovely...,1
13,new summer go,jumper cute soft dress depending going,2
14,perfect skirt,love colors skirt wear tee flat sandals black ...,2
15,gotten multiple compliments,dont usually wear much color but im glad purch...,2
16,darker person,got skirt mail today overall im happy keep dis...,2
17,great basic tee,got color listed pink not usual pink fit goodn...,2
18,fancy sweatshirt,beautiful long midi blazer happens feel like s...,2
19,love romper,first romper purchased cute small medium usual...,2
20,love texture color,love texture color tunic seem run large could ...,2
21,nice top,like reviewers experienced received top mail n...,2
22,disappointing,expecting tunic bit structure weight layer leg...,1
23,soft warm,like contrast skirt bodice length sleeves adn ...,2
24,gorgeous,most beautiful top closet huge closet beautifu...,2
25,love,im pregnant 2nd trimester really wanted beauti...,2
26,really nice top,really love top great colors comfortable long ...,2
27,beautiful dress,actually bought dress last year made another o...,2
28,stays put,classic design nice details stays place active...,2
29,love but pink blue not cream blue,heads didnt notice pink blue motif print arriv...,2
...,...,...,...
15710,le sac,struggling find nice flowy summer dress isnt t...,0
15711,alter waist,53 2838 ordered regular left way came would lo...,2
15712,cute dont size,cute shirt thought model would big sized more ...,2
15713,ugg,skirt gianormous usually take xl l ordered wai...,0
15714,buy one size,love shirt bought shirt returning shirt believ...,2
15715,not,obsessed dress moment saw online excited buy c...,1
15716,dressed,looked reviews purchasing one time didnt work ...,2
15717,beautiful detail loose fit,loved fabric details cut tad looserbigger expe...,1
15718,missed mark,online dress looks perfect but person bit dowd...,1
15719,great shape,loved shape basic jacket perfect go yoga dress...,2
15720,gorgeous embroidery,purchased dress regular size small soon saw po...,2
15721,pretty alterations whiz,gorgeous sleeves flattering necklineand volumi...,1
15722,cute dress,got wear beach vacation later august hesitant ...,2
15723,cute details good cut,im sucker lace details dress otherwise plain w...,2
15724,amazing,fell love jumpsuit first sight color stunning ...,2
15725,perfect red cardi,wish list but saw black fridayand happened sis...,2
15726,truly unflattering,granted not reed thin young model but tall rea...,0
15727,love,shirt great person online substantial fabric n...,2
15728,well made,jacket looks great well made material lush how...,1
15729,looks nothing like photo,poorly made wide short unflattering material a...,0
15730,gorgeous white summer tank,got white surprised see fits petite but 32d bu...,2
15731,even better pictured,shirt beautiful fits perfectly soft too didnt ...,2
15732,unexpected color fantastic coat,bought 20 off sale made even more worth price ...,2
15733,super cute wee bit small,im loving even wee bit tight im 56 130 lbs hit...,2
15734,pretty but not good enough full price,thought dress lovely im 810 tried med believe ...,2
15735,love,love dress color quality design great sizing t...,2
15736,beautiful skirt,agree reviewer skirt beautiful print combed co...,2
15737,comfy classic,love sweater wish sized little longer length b...,2
15738,comfy,comfy dresstunic like wear leggings washed wel...,2
15739,runs big short,dress shorter looks model im 58 hits 1 inch kn...,2

# Compute Frequency

데이터 간 빈도 상위 단어 차이를 분석합니다.

In [5]:
def get_freqdist(series):
    """
    Get FreqDist from pandas Series
    """
    words = []
    
    for text in series:
        words.extend(text.split())
        
    return nltk.FreqDist(words)

In [6]:
def freqdist_to_table(freqdist):
    df = pd.DataFrame.from_dict(freqdist, orient='index')
    df.columns = ['frequency']
    df['percentage'] = df['frequency'] / df['frequency'].sum()
    return df.sort_values('frequency', ascending=False)[:10]

## 전체 상위 빈도 단어

In [7]:
total = get_freqdist(data['outreview']) + get_freqdist(data['outtitle'])
freqdist_to_table(total)

       frequency  percentage
but        12883    0.023510
dress       8768    0.016000
not         7698    0.014048
love        7598    0.013865
size        6429    0.011732
top         6060    0.011059
fit         5666    0.010340
great       5599    0.010217
like        5242    0.009566
too         4703    0.008582

## 리뷰 유형별 상위 빈도 단어 비교

In [8]:
neg_df = data[data['label'] == 0]
neg = get_freqdist(neg_df['outtitle']) + get_freqdist(neg_df['outreview'])
freqdist_to_table(neg)

        frequency  percentage
but          1516    0.025927
not          1256    0.021481
dress         860    0.014708
like          802    0.013716
too           656    0.011219
top           617    0.010552
fit           586    0.010022
fabric        548    0.009372
would         512    0.008756
size          504    0.008620

In [9]:
neu_df = data[data['label'] == 1]
neu = get_freqdist(neu_df['outtitle']) + get_freqdist(neu_df['outreview'])
freqdist_to_table(neu)

        frequency  percentage
but          2338    0.031567
not          1513    0.020428
dress        1108    0.014960
too           999    0.013488
top           882    0.011909
like          869    0.011733
fit           861    0.011625
size          750    0.010126
would         673    0.009087
fabric        663    0.008952

In [10]:
pos_df = data[data['label'] == 2]
pos = get_freqdist(pos_df['outtitle']) + get_freqdist(pos_df['outreview'])
freqdist_to_table(pos)

       frequency  percentage
but         9029    0.021733
dress       6800    0.016368
love        6622    0.015939
size        5175    0.012456
great       4976    0.011977
not         4929    0.011864
top         4561    0.010978
fit         4219    0.010155
wear        3872    0.009320
like        3571    0.008595

## 제목 / 리뷰 별 상위 빈도 단어 비교

In [11]:
title = get_freqdist(data['outtitle'])
freqdist_to_table(title)

           frequency  percentage
love            1473    0.036302
great           1417    0.034922
dress           1331    0.032803
but             1234    0.030412
cute            1226    0.030215
beautiful       1102    0.027159
top              914    0.022526
not              817    0.020135
perfect          644    0.015871
pretty           532    0.013111

In [12]:
review = get_freqdist(data['outreview'])
freqdist_to_table(review)

       frequency  percentage
but        11649    0.022958
dress       7437    0.014657
not         6881    0.013561
size        6268    0.012353
love        6125    0.012071
fit         5184    0.010217
top         5146    0.010142
like        5041    0.009935
wear        4526    0.008920
too         4320    0.008514

## 테스트 데이터 별 상위 빈도 단어 비교

In [13]:
cosmetic_df = pd.read_csv('data/binary/cosmetic.csv').apply(row_str_to_list, axis=1)
cosmetic = get_freqdist(cosmetic_df['outtitle']) + get_freqdist(cosmetic_df['outreview'])
freqdist_to_table(cosmetic)

         frequency  percentage
sephora        272    0.019004
but            189    0.013205
makeup         166    0.011598
store          147    0.010270
not            147    0.010270
like           127    0.008873
one            106    0.007406
love           101    0.007057
help            92    0.006428
dont            90    0.006288

In [14]:
food_df = pd.read_csv('data/binary/food.csv').apply(row_str_to_list, axis=1)
food = get_freqdist(food_df['outtitle']) + get_freqdist(food_df['outreview'])
freqdist_to_table(food)

         frequency  percentage
karaoke        551    0.018615
but            418    0.014122
food           339    0.011453
room           316    0.010676
place          287    0.009696
good           278    0.009392
not            252    0.008514
sushi          244    0.008244
rooms          236    0.007973
yamasho        201    0.006791

In [15]:
man_df = pd.read_csv('data/binary/man.csv').apply(row_str_to_list, axis=1)
man = get_freqdist(man_df['outtitle']) + get_freqdist(man_df['outreview'])
freqdist_to_table(man)

         frequency  percentage
shirt          692    0.033126
shirts         586    0.028052
fit            398    0.019052
proper         292    0.013978
cloth          289    0.013834
great          267    0.012781
but            193    0.009239
service        190    0.009095
get            186    0.008904
not            171    0.008186

In [16]:
woman_df = pd.read_csv('data/binary/woman.csv').apply(row_str_to_list, axis=1)
woman = get_freqdist(woman_df['outtitle']) + get_freqdist(woman_df['outreview'])
freqdist_to_table(woman)

         frequency  percentage
but            182    0.016420
store          158    0.014255
primark        117    0.010556
clothes        105    0.009473
not            101    0.009112
quality         96    0.008661
like            83    0.007488
place           77    0.006947
cheap           74    0.006676
great           70    0.006315